body {
	margin: 0px;
	padding: 0px;
	background-color: #222222;
	font-family: Arial, Helvetica, 'Times New Roman';
	padding-left: 5px;
	padding-top: 3px;
}
div#wrapper {
	/*padding: 20px 0px 20px 20px;*/
	height: 100%;
	width: 100%;
}

button {
	background-color: #112233;
	border: 1px solid #445566;
	border-radius: 4px;
	-moz-border-radius: 4px;
	color: #FFFFFF;
	padding: 4px 9px 4px 9px;
}	
.headLink {
	color: #667788;
	text-decoration: underline;
	float: left;
	margin-right: 8px;
	cursor: pointer;
}
#menu {
	display: none;
	position: absolute;
	z-index: 100;
	height: 350px;
	width: 500px;
	left: 50%;
	margin-left: -250px;
	top: 200px;
	border-top: 2px solid #445566;
	border-left: 2px solid #445566;
	border-bottom: 2px solid #9E9E9E;
	border-right: 2px solid #9E9E9E;
	background-color: #112233;
	color: white;
	overflow: hidden;
}
.menuClose {
	margin-right: 5px;
	margin-top: 5px;
	float: right;
	height: 15px;
	width: 15px;
	background-color: #172E45;
	border: 1px solid #445566;
	cursor: pointer;
}
.menuItem {
	width: 500px;
	height: 100%;
	text-align: center;
	float: left;
	position: relative;
}
.menuItem > input {
	margin-bottom: 20px;
}
#menuRegister {
	text-align: right;
}	
#menuRegister > input {
	width: 146px;
}
#menuContents {
	width: 1000px;
	height: 100%;
	
}
		
.menuHeader {
	font-weight: bold;
	font-size: 20px;
	color: white;
	margin-bottom: 20px;
	margin-right: -15px;
}	

#details {
	height: 200px;
	width: 400px;
	margin-top: 10px;
	background-color: #222222;
	color: white;
}

#os {
	margin-top: 10px;
}

#revision {
	margin-top: 10px;

}

#menuNext {
	position: absolute;
	bottom: 5px;
	left: 100%;
	width: 120px;
	margin-left: -130px;
	color: #8A8A8A;
	font-weight: bold;
	font-size: 14px;
}
.menuBack {
	position: absolute;
	bottom: 5px;
	left: 5px;
	color: #8A8A8A;
	font-weight: bold;
	font-size: 14px;
}
#current {
	position: absolute;
	bottom: 5px;
	left: 240px;
	color: #8A8A8A;
	font-weight: bold;
	font-size: 14px;
}	
#menuNext:hover {
	color: #4F4F4F;
	cursor: pointer;
}	
.menuBack:hover {
	color: #4F4F4F;
	cursor: pointer;
}
div#header {
	font-size: 24px;
	font-weight: bold;
	color: #FFFFFF;
	border-bottom: 1px solid #445566;
	padding-right: 20px;
	margin-bottom: 15px;
	width: 40%;
}
div#header2 {
	font-size: 24px;
	font-weight: bold;
	color: #FFFFFF;
	border-bottom: 1px solid #445566;
	padding: 20px;
	margin-top: 10px;
	width: 70%;
}
div#login {
	background-color: #112233;
	border: 1px solid #445566;
	color: #FFFFFF;
	padding-bottom: 30px;
	padding-left: 20px;
	width: 200px;
}
input.loginField {
	width: 170px;
}
div.loginHeader {
	margin-top: 10px;
}
#log {
	width: 800px;
	border: 1px solid #445566;
	background-color: #112233;
	color: #FFFFFF;
	padding-right: 10px;
	padding-bottom: 10px;
	float: left;
}
#logHolder {
	width: 1622px;
}
#log2 {
	width: 778px;
	border: 1px solid #445566;
	background-color: #112233;
	color: #FFFFFF;
	padding: 10px;
	margin-top: 10px;
	float: left;
}
#logSlide {
	width: 800px;
	border: 1px solid #445566;
	background-color: #112233;
	color: #FFFFFF;
	padding: 10px;
	margin-top: 10px;
	float: left;
}
#logSlideHold {
	width: 800px;
	overflow: hidden;
	padding: 20px 0px 20px 20px;
}
table {
	font-size: 12px;
	display: inline;
}
div#buttonControl {
	margin-bottom: 5px;
	margin-left: 10px;
}

.swfupload {
	margin-bottom: -8px;
}
.logHead {
	text-align: center;
	font-weight: bold;
	font-size: 30px;
	width: 100%;
}
.logItem {
	position: relative;
	width: 100%;
	border-bottom: 1px solid #333333;
	padding: 5px;
	float: left;
}
.downloaded {
	background-color: #222222;
}
.spanLink {
	color: #667788;
}
.progress {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 0px;
	background-color: #00607A;
	z-index: 4;
}
span.logLabel {
	position: absolute;
	top: 5px;
	left: 5px;
	z-index: 5;
}
span.fLeft {
	float: left;
}

.fRight {
	float: right;
}
.moreInfo {
	float: left;
	font-size: 12px;
	margin-right: 40px;
}
.extra {
	margin-top: 10px;
	display: none;
}
.clearboth {
	clear: both;
}
div.alignRight {
	text-align: right;
}
iframe#fram {
	display: none;
}
.groupDetail {
	float: left;
	text-align: left;
	width: 33%;
}
#registerLink {
	color: #667788;
	text-decoration: underline;
	font-size: 12px;
	margin-top: 10px;
	cursor: pointer;
}
#overlay {
	height: 100%;
	width: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
	background-color: black;
	zoom: 1;
	filter: alpha(opacity=90);
	opacity: .9;
	z-index: 99;
	display: none;
}
#lightbox {
	position: fixed;
	width: 5px;
	height: 0px;
	left: 50%;
	background-color: white;
	zoom: 1;
	filter: alpha(opacity=100);
	opacity: 1;
	z-index: 100;
	display: none;
	top: 150px;
	overflow: hidden;
}

#loader {
	height: 19px;
	width: 220px;
	position: absolute;
	left: 50%;
	margin-left: -110px;
	top: 300px;
}
#footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: center;
	color: white;
	font-size: 12px;
}
#footer > a {
	color: #678;
}
.ex {
	cursor: pointer;
	margin-right: 10px;
}

